


<section>
  <div class="container p-5">
    <div class="row justify-content-center">
      <div class=" d-flex flex-column align-items-center gap-3 pb-5">
        <h1>CONTACT COMPONENT</h1>
        <div class=" d-flex align-items-center gap-3">
          <div class="line1"></div>
          <i class="fa-solid fa-star"></i>
          <div class=" line1"></div>
        </div>
      </div>

      <div class=" w-50 text-black d-flex flex-column mx-auto position-relative pb-5">
        <input type="text" class=" border border-0 border-bottom form-control py-3 "
                placeholder="userName">
        <input type="text" class=" border border-0 border-bottom form-control py-3"
                placeholder="userAge">
        <input type="email" class=" border border-0 border-bottom form-control py-3"
                placeholder="userEmail">
        <input type="password" class=" border border-0 border-bottom form-control py-3 mb-4"
                placeholder="userPssword">
        <button class=" btn text-white m-auto position-absolute start-0 bottom-0">Send Message</button>
      </div>

    </div>
  </div>
</section>



<div class="container-fluid p-5 foot">
  <div class="row p-5">
    <div class=" col-lg-4 col-sm-12 text-white text-center">
      <h4>LOCATION</h4>
      <p>2215 John Daniel Drive</p>
      <p>Clark, MO 65243</p>
    </div>

    <div class=" col-lg-4 col-sm-12 text-white text-center">
      <h4>AROUND THE WEB</h4>
      <div class=" d-flex gap-3 fs-4 justify-content-center pt-2">
        <div class=" social border border-2 rounded-circle">
          <i class="fa-brands fa-facebook-f"></i>
        </div>
        <div class=" social border border-2 rounded-circle">
          <i class="fa-brands fa-twitter"></i>
        </div>
        <div class=" social border border-2 rounded-circle">
          <i class="fa-brands fa-linkedin-in"></i>
        </div>
        <div class=" social border border-2 rounded-circle">
          <i class="fa-brands fa-dribbble"></i>
        </div>
      </div>
    </div>

    <div class=" col-lg-4 col-sm-12 text-white text-center">
      <h4>ABOUT FREELANCER</h4>
      <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
    </div>

  </div>
</div>



<footer>
<div class="container-fluid p-4">
<div class="row">
<div class=" col-lg-12 col-sm-6 text-white text-center">
  <h6>Copyright © Your Website 2021</h6>
</div>
</div>
</div>
</footer>
